[submodule "NESO-Spack"]
	path = NESO-Spack
	url = https://github.com/ExCALIBUR-NEPTUNE/NESO-Spack
[submodule "nektar"]
	path = nektar
	url = https://gitlab.nektar.info/nektar/nektar.git
	ignore = dirty
[submodule "neso-particles"]
	path = neso-particles
	url = https://github.com/ExCALIBUR-NEPTUNE/NESO-Particles.git
	ignore = dirty
