build
bin
lib
thirdparty/
include/revision.hpp
.venv
*.bak
*.gcda
*.gcno
*.gif
*.pdf
*.png
*.sw*
**/*.fld
**/*.opt
*~
.spack-env
spack-build-*.txt
spack-configure-args.txt
spack-build-*/
install-time-test-log.txt
spack.lock
views/
builds/